<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Nuevo Comentario</h1>
			<%= render 'form', comment: @comment %>
			<br>
			<%= link_to 'Regresar', comments_path %>		
		</div>
		<div class="col-md-2"></div>
</div>