<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<div style="background: #043152;padding: 10px 0px 10px 40px;">
		<a href="http://descuentosypromociones.com/" target="_blank"><img src="http://descuentosypromociones.com/images/logo-mail.png" width="250" alt="Descuentos y Promociones" title="Descuentos y Promociones"></a>
	</div>
	<div style="padding: 20px 40px 40px 40px;background: #FFF;border:1px solid #efefef;margin: 0 auto;">
	    <h4 style="font-size: 24px;font-weight: bold;color: #d93438;">BIENVENIDO</h4>
		<p><strong>Hola <%= @user.nickname %>!</strong></p>
		<p>
	      Bienvenido a <strong>DescuentosyPromociones.com</strong> la mejor forma de hacer <strong>Compras Inteligentes</strong>, ahora formas parte de la mejor comunidad para aprovechar descuentos, promociones y ofertas en las mejores tiendas.
	    </p>
	    <p>
	    	<a href="http://descuentosypromociones.com/" target="_blank" class="btn-rojo"> Comienza a disfrutar de las promociones aquí</a>
	    </p>
	</div>
  </body>
</html>



