<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Nueva Tienda</h1>
			<%= render 'form', store: @store %>
			<br>
			<%= link_to 'Regresar', stores_path %>		
		</div>
		<div class="col-md-2"></div>
</div>
