    <% @banners.each do |banner| %>
        <a target="_blank" href="<%= banner.link %>">
        <%= image_tag banner.image.url(:original), class: 'img-responsive', alt: banner.alt %>
        </a>
    <% end %>