<% set_meta_tags canonical: "http://www.descuentosypromociones.com/mi-cuenta/"+current_user.id.to_s %>
<div class="col-md-12 no-padding-m">
	<div class="deal-deta">
		<%= render 'users/header' %>
		<div class="col-md-3 no-padding">
		<%= render 'users/menuprofile' %>
		</div>
		<div class="col-md-9 contenedor-pub">
			<h1>Mis Datos</h1>
		</div>
	</div>
</div>