<div class="row">
	<div class="col-xs-3">
		<ul class="list-group">
		  <li class="list-group-item"><a href="#">Mi cuenta</a></li>
		  <li class="list-group-item"><a href="#">Calificadas</a></li>
		  <li class="list-group-item"><a href="#">Mis Promociones</a></li>
		  <li class="list-group-item"><a href="#">Cerrar Sesion</a></li>
		</ul>
	</div>
	<div class="col-xs-9">
	</div>
</div>