<div class="row deal-detail">
	<div class="container deal-det-login">
	Estás viendo las publicaciones de este brother: <%= @user.nickname %>
	<a href="#">Seguir usuario </a>
		<div class="col-xs-12">
    		<%= render "deals/deals" %>
		</div>
	</div>
</div>