<div class="col-md-12 no-padding-m">
	<div class="deal-deta">
		<div class="col-md-12">
			<p>Estás viendo las publicaciones de este brother: <%= @user.nickname %></p>
			<p>Este brother tiene <%= @promoHot %> Promociones HOT <a href="#">Seguir usuario </a></p>
		</div>
		<div class="col-md-12">
    		<%= render "deals/deals" %>
		</div>
	</div>
</div>