<div class="row deal-detail">
	<div class="container">
		<div class="col-md-4 col-md-offset-4" style="text-align: center;">
			<img class="img-responsive" src="images/error404.png" margin="0 auto" alt="Descuentos y Promociones" title="Descuentos y Promociones">
			<h1>LO SENTIMOS, PÁGINA NO ENCONTRADA</h1>
			<p>Es posible que la página que buscas haya sido eliminada o no exista, por favor verifica que la URL es correcta e intenta de nuevo.</p>
			<p><a href="/"><button class="btn-rojo">Ir a la página principal</button></a></p>
    	</div>
	</div>
</div>