<div class="row deal-detail">
	<div class="container">
		<div class="col-md-4 col-md-offset-4" style="text-align: center;">
			<img class="img-responsive" src="images/error500.png" margin="0 auto" alt="Descuentos y Promociones" title="Descuentos y Promociones">
			<h1>LO SENTIMOS, OCURRIÓ UN ERROR </h1>
			<p>Demasiadas promociones intentan ser publicadas, por favor intenta de nuevo mas tarde.</p>
			<p><a href="/"><button class="btn-rojo">Ir a la página principal</button></a></p>
    	</div>
	</div>
</div>