<div class="modal fade" id="modal-bienvenida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bienvenida">
      <div class="modal-body">
        <div class="modal-header hidden-lg hidden-md" style="padding-right:15px;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="col-md-6" style="padding:0px;background:#043152;">
          <img class="img-responsive hidden-sm hidden-xs" src="/images/bienvenida-l.jpg" alt="Descuentos y Promociones" title="Descuentos y Promociones" />
          <img class="img-responsive hidden-lg hidden-md" src="/images/bienvenida-s.jpg" alt="Descuentos y Promociones" title="Descuentos y Promociones" />
        </div>
        <div class="col-md-6">
          <div class="modal-header hidden-sm hidden-xs">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="text-modal">
              <h2 class="modal-title" id="myModalLabel">¿Qué es Descuentos y Promociones?</h2>
              <p><strong>Vamos a crear la mejor comunidad de Compradores Inteligentes</strong>.</p>
              <p>Ten en cuenta que vamos a estar <strong>regalando</strong> mes a mes tarjetas de descuento para las tiendas más importantes del país a los mejores colaboradores. Revisa tu posición en la sección de Ranking dentro de tu perfil.</p>

              <p><a href="/users/sign_up" ><button type="button" class="btn-rojo-out" >¡Registrate! <span class="glyphicon glyphicon-menu-right"></span></button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
