<style type="text/css">
  .modal-bienvenida{
    float:left;
    padding-bottom:0px;
    border: 0px;
  }
  .modal-bienvenida .btn-rojo-out{
    background: transparent;
    color: #d93438;
  }
  .modal-bienvenida .btn-rojo-out:hover{
    text-decoration: underline;
  }
  .modal-bienvenida .modal-title{
    margin:20px 0px;
    line-height:28px;
    font-size: 24px;
  }
  .modal-bienvenida .modal-body{
    padding: 0px;
  }
  .modal-bienvenida .modal-header{
    padding: 10px 5px;
    border: 0px;
  }
  .modal-bienvenida .text-modal{
    padding: 0px 20px 40px 20px;
    float: left;
  }
</style>
<div class="modal fade" id="modal-bienvenida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-bienvenida">
      <div class="modal-body">
        <div class="modal-header hidden-lg hidden-md" style="padding-right:15px;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="col-md-6" style="padding:0px;background:#043152;">
          <img class="img-responsive hidden-sm hidden-xs" src="/images/bienvenida-l.jpg" alt="Descuentos y Promociones" title="Descuentos y Promociones" />
          <img class="img-responsive hidden-lg hidden-md" src="/images/bienvenida-s.jpg" alt="Descuentos y Promociones" title="Descuentos y Promociones" />
        </div>
        <div class="col-md-6">
          <div class="modal-header hidden-sm hidden-xs">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="text-modal">
              <h2 class="modal-title" id="myModalLabel">¿Qué es Descuentos y Promociones?</h2>
              <p><strong>Descuentos y Promociones es la mejor comunidad de Compradores Inteligentes en México</strong>.</p>
              <p>Consulta las mejores promociones Online, Express, Liquidaciones y en Tiendas Físicas de las mejores tiendas.</p>
              <p><a href="/"><button type="button" class="btn-rojo-out">¡Comenzar ahora! <span class="glyphicon glyphicon-menu-right"></span></button></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
