<% set_meta_tags canonical: "http://www.descuentosypromociones.com/ayuda",
                 title: "Guía de ayuda para Compras",
                 description: "Una Compra Inteligente se logra con un balance entre calidad y precio, nosotros queremos ayudarte a que encuentres el producto más conveniente." %>
<div class="row deal-detail">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 deal-det">
      <h1>Guía de Ayuda para Compras Inteligentes</h1>
      <hr>
      <!--INICIA COLLAPSE-->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                ¿Qué es una Compra Inteligente?
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
              <p>Una <strong>Compra Inteligente</strong> se logra con un balance entre calidad y precio, nosotros queremos ayudarte a que encuentres el producto más conveniente.</p>
              <p>Una <strong>Compra Inteligente</strong> es aquella que nos deja satisfechos no sólo al momento de la adquisición, sino días, semanas y meses después. Se compra de manera inteligente cuando se logra un balance entre la calidad y el precio de un producto; cuando se adquiere algo verdaderamente necesario; cuando sabemos que nuestra adquisición es verdaderamente útil y cuando estamos seguros que hicimos la compra correcta.</p>
              <p>Así pues, está claro que <strong>comprar de manera inteligente</strong> no se trata solamente de encontrar el producto más barato, sino el más conveniente. La meta es tener lo mejor, al menor precio posible.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                ¿Cómo hacer una Compra Inteligente?
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
              <p>Existen algunas cosas que nos gustaría recomendarte para mejorar tus compras.
                <ul>
                  <li>Ten presente el precio final, incluyendo impuestos, intereses, envío, descuentos. </li>
                  <li>Busca en todos los lugares donde lo puedan ofrecer.</li>
                  <li>Ten paciencia, una <strong>compra inteligente</strong> será satisfactorio si obtienes el mejor precio</li>
                  <li>Compara.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Publica tu Promoción
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
              <p>
                Para <strong>compartir una promoción</strong> no es necesario que te registres, simplemente haz clic en el botón de <strong>Compartir</strong> y llena los datos necesarios para publicar la promoción.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                ¿Cómo se que necesito comprar?
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body">
              <p>Una guía básica para comenzar a <strong>comprar inteligentemente</strong>, es hacerte esta serie de preguntas al momento de identificar que “necesitas” comprar algo:
                <ul>
                  <li>Que cubra tus necesidades reales o deseos.</li>
                  <li>Que esté al alcance de tu presupuesto asignado.</li>
                  <li>Que no tengas que gastar lo que no tienes para adquirirlo.</li>
                  <li>Que tenga el mejor precio, para el valor que representa para ti.</li>
                  <li>Que lo compres no porque sea algo que “te hará mejor o más que otras personas de tu circulo social”, sino porque hay una necesidad real no una necesidad de percepción.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Eres un Comprador Inteligente si:
              </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <div class="panel-body">
              <p>El <strong>consumidor inteligente</strong> ahorra en lo que compra, piensa antes de comprar algo, analiza si es algo que realmente necesita, compara precios y niveles de calidad.
                <ul>
                  <li>Comparas precios en diversos establecimientos antes de comprar.</li>
                  <li>Piensas si verdaderamente vas a usar el artículo que vas a comprar.</li>
                  <li>Compras lo que consideras necesario.</li>
                  <li>Cuidas las cosas que usas.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Proceso para comprar
              </a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <div class="panel-body">
              <p>Para llevar a cabo una compra necesitas presupuesto o sea dinero asignado a adquirir el bien o servicio que te interesa obtener. Luego, debes investigar qué, cuando, cuánto, a dónde y a qué precio vas a comprar.
                <ul>
                  <li><strong>PASO 1.-</strong> Reconoces o identificas que tienes una necesidad de compra.</li>
                  <li><strong>PASO 2.-</strong> Preparar Plan, presupuesto, ¿Qué, Cuándo, Por qué?.</li>
                  <li><strong>PASO 3.-</strong> Investigas y evaluas las opciones.</li>
                  <li><strong>PASO 4.-</strong> Decides.</li>
                  <li><strong>PASO 5.-</strong> Compras.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!--TERMINA COLLAPSE-->
    </div>
  </div>
</div>