<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      	<h1>Ayuda</h1>
      	<p>Existen algunas cosas que nos gustaría recomendarte para mejorar tus compras.
              <ul>
                <li>Ten presente el precio final, incluyendo impuestos, intereses, envio, descuentos. </li>
                <li>Busca en todos los lugares donde lo puedan ofrecer</li>
                <li>Ten paciencia, una compra inteligente será satisfactorio si obtienes el mejor precio</li>
              </ul>
    	</p>
    </div>
    <div class="col-md-3 banners">
      <%= render 'deals/banners' %>
    </div>
  </div>
</div>