<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <h1>Guía de Ayuda para Compras Inteligentes</h1>
      <hr>
      <!--INICIA COLLAPSE-->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                ¿Qué es una Compra Inteligente?
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
              <p>Una compra inteligente se logra con un balance entre calidad y precio, nosotros queremos ayudarte a que encuentres el producto más conveniente.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                ¿Cómo hacer una Compra Inteligente?
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
              <p>Existen algunas cosas que nos gustaría recomendarte para mejorar tus compras.
                <ul>
                  <li>Ten presente el precio final, incluyendo impuestos, intereses, envío, descuentos. </li>
                  <li>Busca en todos los lugares donde lo puedan ofrecer.</li>
                  <li>Ten paciencia, una compra inteligente será satisfactorio si obtienes el mejor precio</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading3">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Publica tu Promoción
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body">
              <p>
                Para <strong>compartir una promoción</strong> no es necesario que te registres, simplemente haz clic en el botón de <strong>Compartir</strong> y llena los datos necesarios para publicar la promoción.
              </p>
            </div>
          </div>
        </div>

      </div>
      <!--TERMINA COLLAPSE-->
    </div>
    <div class="col-md-3 banners">
      <%= render 'banners/right_column.html.erb' %>
    </div>
  </div>
</div>