<% set_meta_tags canonical: "http://www.descuentosypromociones.com/nosotros",
                 title: "Quienes somos",
                 description: "DescuentosyPromociones.com es la nueva forma de hacer Compras Inteligentes. Consulta en las mejores promociones online, express y en tienda física de las mejores tiendas." %>
<div class="row deal-detail">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 deal-det">
      <h1>Descuentos y Promociones</h1>
      <p><strong>DescuentosyPromociones.com</strong> es la nueva forma de hacer <strong>Compras Inteligentes</strong>. Consulta en las mejores promociones online, express y en tienda física de las mejores tiendas.</p>
      <hr>
      <h3>¿Qué es una compra inteligente?</h3>
      <p>
      	Una <strong>Compra Inteligente</strong> es aquella que nos deja satisfechos no sólo al momento de la adquisición, sino días, semanas y meses después.
      	Se compra de manera inteligente cuando se logra un balance entre la calidad y el precio de un producto; cuando se adquiere algo verdaderamente necesario; cuando sabemos que nuestra adquisición es verdaderamente útil y cuando estamos seguros que hicimos la compra correcta.
      </p>
      <p>
      	Así pues, está claro que comprar de manera inteligente no se trata solamente de encontrar el producto más barato, sino el más conveniente. La meta es tener lo mejor, al menor precio posible.
      </p>
      <hr>
      <h3>¿Cómo realizar una Compra Inteligente?</h3>
      <p>
		<strong>Comparando.</strong>
		<br>Un elemento indispensable para poder comprar de manera adecuada es comparar precios y características. Es importante destacar que no sólo se trata de analizar qué producto es el más barato, sino saber exactamente qué ofrece cada marca y si existe una relación proporcional entre calidad y precio.
      </p>
      <p>
      	Al buscar calidad tampoco conviene asumir de inmediato la idea de que lo que cuesta más es lo más duradero o eficaz, puesto que no siempre sucede así.
      </p>
      <p>
      	En la actualidad, una herramienta muy útil para realizar buenas compras es vía Online. Por medio de búsquedas podemos comparar precios, conocer las características de los productos (material, rendimiento, garantía, marca, etc...) sin necesidad de acudir a decenas de tiendas.
      </p>
      <p>
      	Cada vez son más las personas que antes de comprar algo, consultan en Internet los lugares donde lo venden y los precios que ofrecen. Además, pueden conocer también si existen variaciones de precio para un mismo producto de una misma marca entre una tienda y otra. El punto clave para comprar de manera inteligente y escoger los precios óptimos es sin duda comparar.
      </p>
      <p>
      	Uno de los puntos más importantes al momento de comparar, es tener presente los factores que necesitamos para realizar dicha comparación, factores como el <strong>precio, modelo, características, dimensiones, tiendas que los ofrecen, costos de envío o distancia para poder ver el producto</strong> se vuelven indispensables para poder elegir de manera correcta.
      </p>
      <hr>
      <h3>El Objetivo</h3>
      <p><strong>DescuentosyPromociones.com</strong> te ayuda a comparar miles de promociones al momento y como parte de una comunidad de usuarios con el mismo objetivo, te ayudamos a elegir cuál es la mejor promoción del producto que estas buscando.</p>
      <p>Consulta las promociones que personas como tú estan publicando diariamente, y al igual que ellos, puedes compartir todas las promociones y descuentos que tu desees, siempre con el fin de lograr realizar <strong>Compras Inteligentes.</strong></p>
    </div>
  </div>
</div>

