<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <h1>Términos y Condiciones</h1>
      <p>El servicio que ofrece Descuentosypromociones es gratuito por lo que no garantizamos alta disponibilidad. Descuentosypromociones se reserva el derecho de hacer cambios a estos términos y condiciones sin previa notificación. </p>
      <p>El Uso de interacciónes de tu cuenta así como la información proporcionada en la misma, es responsabilidad del usuario. Descuentosypromociones te recomienda no hacer uso de fotografías personales o generar comentarios que incluyan datos personales.</p>
      <p>El uso del correo electrónico quedará registrado en nuestro servidor para temas de mejora continua sin embargo expresamente no compartiremos los datos a terceros</p>
      <p>El uso de cookies en el sitio es para ayudar a la experiencia del usuario, expresamente no compartiremos datos con ningún tercero y solo utilizaremos las cookies para mejorar la experiencia de la plataforma. </p>
      <p>Descuentosypromociones no se hace responsable por las ofertas publicadas, no somos una plataforma transaccional y lo único que buscamos es crear consciecia de compras inteligentes en el mercado mexicano</p>
      <p> Los precios mostrados en las ofertas dependen de terceros por lo que pueden estar sujetos a cambios, cualquier cambio de precio o de disponibilidad puede ser diferente entre Descuentosypromociones y un tercero. </p>
      
    </div>
    <div class="col-md-3 banners">
      <%= render 'deals/banners' %>
    </div>
  </div>
</div>