<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <h1>Términos y Condiciones</h1>
      <hr>
      <ul>
        <li>
          El servicio que ofrece <strong>DescuentosyPromociones</strong> es gratuito por lo que no garantizamos alta disponibilidad. <strong>DescuentosyPromociones</strong> se reserva el derecho de hacer cambios a estos términos y condiciones sin previa notificación.
        </li>
        <li>
          El Uso de interacciónes de tu cuenta así como la información proporcionada en la misma, es responsabilidad del usuario. <strong>DescuentosyPromociones</strong> te recomienda no hacer uso de fotografías personales o generar comentarios que incluyan datos personales.
        </li>
        <li>
          El uso del correo electrónico quedará registrado en nuestro servidor para temas de mejora continua sin embargo expresamente no compartiremos los datos a terceros.
        </li>
        <li>
          El uso de cookies en el sitio es para ayudar a la experiencia del usuario, expresamente no compartiremos datos con ningún tercero y solo utilizaremos las cookies para mejorar la experiencia de la plataforma.
        </li>
        <li>
          <strong>DescuentosyPromociones</strong> no se hace responsable por las ofertas publicadas, no somos una plataforma transaccional y lo único que buscamos es crear consciecia de compras inteligentes en el mercado mexicano.
        </li>
        <li>
          Los precios mostrados en las ofertas dependen de terceros por lo que pueden estar sujetos a cambios, cualquier cambio de precio o de disponibilidad puede ser diferente entre <strong>DescuentosyPromociones</strong> y un tercero.
        </li>
        <li>
          El contenido que se publica en las promociones es responsabilidad del usuario, por lo que te recomendamos utilizar únicamente el sitio para difusión y mejora en las experiencias de compra, no con fines ofensivos o que dañen la experiencia de navegación de los demás usuarios.
        </li>
      </ul>
      <br>
      <h1>Políticas de Privacidad</h1>
      <hr>
      <ul>
        <li>
          En <strong>DescuentosyPromociones</strong> nos comprometemos a respetar y proteger la privacidad de tus datos cuando hayamos recibido la información y todos los datos que registres, sin embargo no nos hacemos responsables de los datos mientras estes usando alguna otra plataforma o algún sistema de pago. Te recomendamos leer las Políticas de Privacidad de los sitios externos que visites.
        </li>
        <li>
          Únicamente compartiremos dicha información en alguna situación de caracter urgente y legal.
        </li>
        <li>
          Al navegar e ingresar datos por <strong>DescuentosyPromociones</strong> aceptas la tranferencia y el resguardo de los mismos, como lo mencionamos antes, tenemos la obligación y el compromiso de proteger esos datos mientras estes navegando por <strong>DescuentosyPromociones.com.</strong>
        </li>
      </ul>
      <br>
      <h1>Responsabilidad del usuario</h1>
      <hr>
      <ul>
        <li>
          Es responsabilidad tuya el usar <strong>DescuentosyPromociones.com</strong> sólo para difusión de promociones y descuentos, por lo tanto el contenido que subas o compartas no debe ser ofensivo en ningún sentido o contra algún otro usuario. Si en algún momento ves alguna publicación que no cumpla con las normas de integridad adecuadas, te pedimos por favor reportarla inmediatamente con  la finalidad de continuar mejorando tu experiencia y la del resto de los usuarios.
        </li>
      </ul>    
    </div>
    <div class="col-md-3 banners">
      <%= render 'banners/right_column.html.erb' %>
    </div>
  </div>
</div>