<div class="row deal-detail">
  <div class="container">
    <div class="col-md-9 deal-det">
      <h1>Términos y Condiciones</h1>
    </div>
    <div class="col-md-3 banners">
      <%= render 'deals/banners' %>
    </div>
  </div>
</div>