<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Nuevo</h1>
			<%= render 'form', setting: @setting %>
			<br>
			<%= link_to 'Regresar', settings_path %>		
		</div>
		<div class="col-md-2"></div>
</div>