jQuery(document).ready(function($) {
    $('.hit').click(function(event) {
        dealid = $(this).attr('promoid');
        $.ajax({
          url:  "/dealhit",
          dataType: "json",
          data: {
             dealid: dealid
          },
          success: function(data) { 
          }
        });
    });
    $('.rank').click(function(event) {
      thumb = $(this);   
      promoid = $(this).attr('promoid');
      number = $(this).attr('vote');
      $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: promoid,
           number: number
        },
        success: function(data) { 
          thumb.parent().parent().find('.rank-meter').text(data.rank);
          thumb.parent().parent().find('.grades').append('<span class="down"><span><%= fa_icon "thumbs-down" %></span></span><span class="up"><span><%= fa_icon "thumbs-up" %></span></span>');
          thumb.parent().parent().find('.thumbs-quality').remove();
          
        }
      });
    });
	$("#deals .page").infinitescroll({
	    loading: {
	      img:     "http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_48.gif",
	      msgText: "Cargando..."
	    },
	    navSelector: "nav.pagination",
	    nextSelector: "nav.pagination a[rel=next]",
	    itemSelector: "#deals div.deal",
      scrollThreshold: 4
	});
});
    function rankUpdate(thumb, number){
       $.ajax({
        url:  "/updateRank",
        dataType: "json",
        data: {
           promoid: thumb,
           number: number
        },
        success: function(data) { 
          $('#'+thumb).parent().parent().find('.rank-meter').text(data.rank);
          $('#'+thumb).parent().parent().find('.grades').append('<span class="down"><span><%= fa_icon "thumbs-down" %></span></span><span class="up"><span><%= fa_icon "thumbs-up" %></span></span>');
          $('#'+thumb).parent().parent().find('.thumbs-quality').remove();
          
        }
      });    
    }