<% set_meta_tags canonical: "http://www.descuentosypromociones.com/descuentos-por-categoria/"+@category.id.to_s+"/"+@category.slug %>
<h1><%= title @category.name %></h1>
<% set_meta_tags description: @category.description %>
<div id="deals">
	<!-- INICIA LISTADO DE PROMOCIONES -->
	<div class="row page">
		   <%= render "deals/deals" %>
	</div>
	<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>
<%= paginate @deals %>
<script>
  <%= render(:partial => '/deals/deals', :formats => [:js] ) %>
</script>