<div class="row" id="deals">
	<h1 style="padding: 0px 15px;">Moderar Promociones</h1>
	<div class="container">
		<ul class="menu-moderar">
			<a href="#" class="activo"><li><span class="glyphicon glyphicon-bell"></span> Por Aceptar (10)</li></a>
			<a href="#"><li><span class="glyphicon glyphicon-ok"></span> Aceptadas (10)</li></a>
			<a href="#"><li><span class="glyphicon glyphicon-remove"></span> Denegadas (10)</li></a>
		</ul>
	</div>
	<!-- INICIA LISTADO DE PROMOCIONES -->
	<div class="container page">
	    <%= render "deals/dealsmoderate" %>
	</div>
	<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>
<script>
  <%= render(:partial => '/deals/deals', :formats => [:js] ) %>
</script>