<div id="deals">
<!-- INICIA LISTADO DE PROMOCIONES -->
<div class="row page">
    <%= render "deals/dealsmoderate" %>
</div>
<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>
<script>
  <%= render(:partial => '/deals/deals', :formats => [:js] ) %>
</script>