<style type="text/css">
	.button_row .history_tools{
		display: none;
	}
</style>
	<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Publicar Oferta</h1>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#online" aria-controls="online" role="tab" data-toggle="tab">Online</a></li>
				<li role="presentation"><a href="#fisica" aria-controls="fisica" role="tab" data-toggle="tab">En Tienda física</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="online"></div>
				<div class="tab-pane" id="fisica"></div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
	var type = $('.nav-tabs li a').attr('href');
	if(type == "#online"){
		$('#fisica').html("");
		$("#online").html("<%= j (render 'form') %>");
		$("#deal_type_deal").val("1");
		$('#new_deal').validate({
		  rules: {
		  	'deal[link]': {
		      required: true,
          	  minlength:10,
          	  maxlength:500
		    },
		    'deal[title]': {
		      required: true,
          	  minlength:10,
          	  maxlength:255
		    },
		    'deal[category_id]': {
		      required: true
		    },
		    'deal[store_id]': {
		      required: true
		    },
		    'deal[type_deal]': {
		      required: true
		    }
		  }
		});
	}else{
		$('#online').html("");
		$("#fisica").html("<%= j (render 'formfisica') %>");
		$("#deal_type_deal").val("2");	
		$('#new_deal').validate({
		  rules: {
		    'deal[title]': {
		      required: true,
          	  minlength:10,
          	  maxlength:255
		    },
		    'deal[category_id]': {
		      required: true
		    },
		    'deal[store_id]': {
		      required: true
		    },
		    'deal[type_deal]': {
		      required: true
		    }
		  }
		});
	}
	$('.nav-tabs li a').click(function(event) {
		var type = $(this).attr('aria-controls');
		if(type == "online"){
			$('#fisica').html("");
			$("#online").html("<%= j (render 'form') %>");
			$("#deal_type_deal").val("1");
			$('#new_deal').validate({
			  rules: {
			  	'deal[link]': {
			      required: true,
	          	  minlength:10,
	          	  maxlength:500
			    },
			    'deal[title]': {
			      required: true,
	          	  minlength:10,
	          	  maxlength:255
			    },
			    'deal[category_id]': {
			      required: true
			    },
			    'deal[store_id]': {
			      required: true
			    },
			    'deal[type_deal]': {
			      required: true
			    }
			  }
			});
		}else{
			$('#online').html("");
			$("#fisica").html("<%= j (render 'formfisica') %>");
			$("#deal_type_deal").val("2");
			$('#new_deal').validate({
		  rules: {
		    'deal[title]': {
		      required: true,
          	  minlength:10,
          	  maxlength:500
		    },
		    'deal[category_id]': {
		      required: true
		    },
		    'deal[store_id]': {
		      required: true
		    },
		    'deal[type_deal]': {
		      required: true
		    }
		  }
			});
		}
	});
	$('#myTabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
});
</script>