<h1>New Deal</h1>

<%= render 'form', deal: @deal %>

<%= link_to 'Back', deals_path %>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$('#new_deal').validate({
	  rules: {
	    'deal[title]': {
	      required: true
	    },
	    'deal[description]': {
	      required: true
	    },
	    'deal[price]': {
	      required: true
	    },
	    'deal[category_id]': {
	      required: true
	    },
	    'deal[type_deal]': {
	      required: true
	    }
	  }
	});
	
});
</script>