<div class="row" id="deals">
	<h1 style="padding: 0px 15px;">Nuevas Promociones</h1>
	<!-- INICIA LISTADO DE PROMOCIONES -->
	<div class="container page">
	    <%= render "deals/deals" %>
	</div>
	<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>
<script>
  <%= render(:partial => '/deals/deals', :formats => [:js] ) %>
</script>