<div id="deals">
	<h1>Resultados de tu búsqueda</h1>
	<!-- INICIA LISTADO DE PROMOCIONES -->
	<div class="row page">
	    <%= render "deals/deals" %>
	</div>
	<!-- TERMINA LISTADO DE PROMOCIONES -->
</div>
<script>
  <%= render(:partial => '/deals/deals', :formats => [:js] ) %>
</script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('#filter-search').append('<input type="text" name="search" value="<%= params[:search] %>">');
	});
</script>