/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require trix
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body{
  background-color:#f8f8f8;
}
.navbar{
  border-radius:0px;
  margin-bottom:0px;
}
.white{
  background-color:#FFF;
}
.navbar-white{
  background-color: #FFF;
  border-color:#999;  
}
.navbar-blue{
  background-color: #043152;
}
.navbar-blue a {
    color:#FFFFFF;
}
.navbar-brand{
  font-weight:200;
}
.navbar-brand span{
  font-weight:400;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color:#d93438;
}
.loader-image{
  display:none;
  text-align:center;
}
.header-box{
  background:white;
  border-bottom: 1px solid #F8F8F8;
}
.title-small{
  font-size:14px;
  font-weight:500;
  text-transform:uppercase;
  padding:10px;
}
.title-medium{
  font-size:16px; 
  font-weight:500;
  text-transform:uppercase;
  padding:10px;
}
.title-big{
  font-size:18px;
  font-weight:500;
  text-transform:uppercase;
  padding:10px;
}
.thumbs{
  font-size:25px;
  font-weight:500;
  text-transform:uppercase;
  text-align:right;
}
.carousel-inner .thumbs{
  font-size:20px; 
  text-align:left;
  padding-left: 20px;
}
.carousel-inner .comments{
  padding-right:10px;
}
.thumbs .up{
  border-left: 1px solid #F8F8F8;
    padding: 0px 10px;
}
.thumbs .down{
    padding: 0px 5px;
}
.hot-deal .thumb-hot{
  font-size: 25px;
}
.hot-deal .thumb-warm{
  font-size: 25px;
}
.hot-deal .thumb-cold{
  font-size: 25px;
}
.thumb-hot{
  color:#c0392b;
  font-weight: bold;
  font-size: 21px;
}
.thumb-warmer{
  color: #e67e22;
  font-weight: bold;
  font-size: 21px;
}
.thumb-warm{
  color: #f39c12;
  font-weight: bold;
  font-size: 21px;
}
.thumb-cold{
  color:#3498db;
  font-weight: bold;
  font-size: 21px;
}
.bar-cold{
  width: 100%;
  float: left;
  height: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bcd4e5+0,359ce6+100 */
  background: #3498db; /* Old browsers */
  background: -moz-linear-gradient(left, #bcd4e5 0%, #3498db 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bcd4e5 0%,#3498db 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bcd4e5 0%,#3498db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd4e5', endColorstr='#3498db',GradientType=1 ); /* IE6-9 */
}
.bar-warm{
  width: 100%;
  float: left;
  height: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8de64+0,fbd41e+100 */
  background: #f1c40f; /* Old browsers */
  background: -moz-linear-gradient(left, #f1c40f 0%, #f39c12 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f1c40f 0%,#f39c12 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f1c40f 0%,#f39c12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c40f', endColorstr='#f39c12',GradientType); /* IE6-9 */
}
.bar-warmer{
  width: 100%;
  float: left;
  height: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbd41e+0,de7d0a+100 */
  background: #e67e22; /* Old browsers */
  background: -moz-linear-gradient(left, #e67e22 0%, #d35400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e67e22 0%,#d35400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e67e22 0%,#d35400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67e22', endColorstr='#d35400',GradientType=1 ); /* IE6-9 */
}
.bar-hot{
  width: 100%;
  float: left;
  height: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#df8612+0,f41811+100 */
  background: #e74c3c; /* Old browsers */
  background: -moz-linear-gradient(left, #e74c3c 0%, #c0392b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e74c3c 0%,#c0392b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e74c3c 0%,#c0392b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c3c', endColorstr='#c0392b',GradientType=1); /* IE6-9 */
}
.grados-sign{
  font-weight: 200;
  margin-left: -4px;
  top: -5px;
  position: relative;
  font-size: 15px; 
}
.content-box .name{
  font-weight: 300;
}
.carousel-inner h2.name{
  font-weight: 300;
  font-size:16px !important;
  padding:0px 10px;
  margin-top:0px;
  margin-bottom:10px;
}
.carousel-inner .store{
  font-weight: 300;
  font-size:14px !important;
  padding:0px 10px;
}
.carousel-inner .store > span{
  color: #e03346;
  font-size:12px;
}
.price{
  color: #e03346;
}
.carousel-inner .price{
  font-size:20  px;
  font-weight:500;
  padding-left:10px;
}
.right{
  text-align:right;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 10px;
  padding-right: 10px;
}
h1{
  font-size: 24px;
  font-weight: bold;
}
.head-des{
  margin-bottom: 15px;
}
.alert{
  padding: 10px;
  margin-bottom: 10px;
}
.stylish-input-group .input-group-addon{
  background: transparent; 
  padding: 5px;
}
.stylish-input-group input {
  color: white;
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
  background: transparent;
}
.stylish-input-group button{
    border:0;
    color: white;
    background:transparent;
}
.navbar{
  border: none;
}
.navbar-brand{
  padding: 7px;
  height: 70px;
  margin-left: 0px !important;
}
.navbar-white{
  border-bottom: 2px solid #d1cfcf;
}
.navbar-nav > li > .mi-cuenta{
  line-height: 38px;
  font-size: 13px;
  font-weight: 200;
  color: #FFF;
}
.navbar-collapse{
  padding: 0px;
}
.nav > li{
  float: left;
}
.nav li > a{
  color: #525457;
  font-weight: 400;
  font-size: 13px;
  padding:15px 13px;
}
li > a:hover{
  color: #d93438;
  text-decoration:none;
}
.form-control{
  background: transparent;
  color: #FFF;
  font-size: 13px;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
  line-height: 30px;
  margin-top: 8px;
  margin-right: 0px;
  border: 1px solid #FFF;
}
.btn-lupa{
  border: 1px solid #ccc !important;
  padding: 0px 10px;
  height: 34px;
  margin-top: 3px;
  margin-left: -5px;
  border-left: 0px !important;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
}
.input-group-addon{
  border: none;
  margin-top: 8px;
  color: #FFF;
  font-size: 18px;
  font-weight: 200;
}
.btn-compartir{
  color: #FFF !important;
  height: 35px !important;
  width: 180px;
  line-height: 4px !important;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e52d27+0,b31217+96,7f0707+100 */
  background: #e52d27; /* Old browsers */
  background: -moz-linear-gradient(top, #e52d27 0%, #b31217 96%, #7f0707 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e52d27 0%,#b31217 96%,#7f0707 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e52d27 0%,#b31217 96%,#7f0707 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52d27', endColorstr='#7f0707',GradientType=0 ); /* IE6-9 */
}      
.btn-compartir:hover{
  color: #FFF !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b71212+0,7f0707+100 */
  background: #b71212; /* Old browsers */
  background: -moz-linear-gradient(top, #b71212 0%, #7f0707 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b71212 0%,#7f0707 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b71212 0%,#7f0707 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b71212', endColorstr='#7f0707',GradientType=0 ); /* IE6-9 */
}
.btn-compartir:active{
  color: #FFF !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e52d27+0,b31217+96,7f0707+100 */
  background: #e52d27; /* Old browsers */
  background: -moz-linear-gradient(top, #e52d27 0%, #b31217 96%, #7f0707 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e52d27 0%,#b31217 96%,#7f0707 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e52d27 0%,#b31217 96%,#7f0707 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e52d27', endColorstr='#7f0707',GradientType=0 ); /* IE6-9 */
}
.navbar-nav > li > a {
  line-height: 22px;
}
.navbar-right{
  margin-right: 0px;
}
.navbar-toggle{
  float: left;
  padding: 12px 12px;
  margin-top: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 5px;
}
.navbar-toggle .icon-bar{
  background:#525457 ;
  width: 25px;
  height: 2px;
  border-radius: 0px;
}
.container{
  padding-left: 10px;
  padding-right: 10px;
}
.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse{
  margin-left: 0px;
  margin-right: 0px;
}
.navbar-form{
    margin: 0px;
    padding: 10px 10px;
}
.navbar-nav{
  margin: 0px;
}
.logotipo{
  display: none;
}
.logotipo-s img{
  display: block;
  width: 50px;
  margin-top: 3px;
}
.nav .ver-mobile,  .ver-mobile{
  display: block;
}
.nav .ver-desktop, .ver-desktop{
  display: none;
}
.menu-mobile{
  margin: 17px 0px;
  float: right;
}
.menu-mobile a{
  color: #FFF;
  float: right;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 17px;
  line-height: 35px;
}
.menu-desktop{
  display: none;
}
.buscar-s{
  color: #FFF;
  font-size: 17px;
  margin: 3px 5px 0px 20px;
  padding: 0px;
}
.menu-mobile .btn-compartir-s{
  font-size: 12px;
  font-weight: 400;
  width: 75px;
  text-align: center;
  float: right;
  height: 33px !important;
  margin: 2px 0px 0px 15px;
  line-height: 19px !important;
}
.nav .filtro{
  float: right;
  font-size: 16px;
}
.submenu{
  background: #fafafa;
  list-style: none;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #ccc;
  font-size: 13px;
  z-index: 100;
}
.submenu .sub-titulo{
  border-top: 0px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0px;
  font-size: 15px;
}
.submenu li{
  font-size: 13px;
  margin: 0px 0px;
  padding: 13px 27px;
  border-top: 1px solid #ccc;
}
.submenu li a{
  color: #525457;
  font-size: 12px; 
}
.flecha-down{
  font-size: 10px;
  margin-left: 3px;
}
.cerrar-menu{
  background: #333;
  color: #FFF !important;
  float: left;
  width: 100%;
}
.cerrar-menu a{
  color: #FFF !important;
  font-size: 13px;
}
.icono-cerrar{
  float: right;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background: transparent;
}
.sub-stores{
  margin-bottom: 30px;
}
.sub-stores img{
  margin-bottom: 5px;
  border:1px solid #eaeaea;
}
.sub-stores img:hover{
  margin-bottom: 5px;
  border:1px solid #bababa;
}
.sub-stores span{
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.nav > li.dropdown.open {
  position: static;
}
.nav > li.dropdown.open .dropdown-menu {
  border-bottom: 3px solid #d93438;
  display: table;
  border-radius: 0px;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  padding: 20px 0px 30px 0px;
}
.dropdown-menu > li {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.submenu-cat{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dropdown-menu h2{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px 15px 13px;
  text-align: left;
}
.dropdown-menu .ver-mas-link{
  font-size: 13px;
  margin: 15px 0px 15px 14px;
  text-align: left;
}
.dropdown-menu .ver-mas-link a{
  color: #d93438;
}
.submenu-cat li{
  text-align: left;
  padding: 5px 0px;
  font-size: 13px;
  font-weight: 200;
}
.no-padding{
  padding: 0px;
}
.no-margin{
  margin: 0px !important;
}
.no-padding-head{
  padding: 0px;
}
.glyphicon-menu-right{
  font-size:10px;
}
.footer{
  text-align: center;
  border-top: 2px solid #d1cfcf;
  padding: 0px 10px 50px 10px;
}
.footer .nav li a{
  background:#FFF;
  font-size: 12px;
}
.menu-footer{
  margin:0 auto;
  width: 100%;
}
.footer .footer-imagen{
  width: 100%;
  margin: 30px 0px 10px 0px;
}
.footer .footer-imagen img{
  width: 230px;
}
.legal{
  font-size: 10px;
  color: #666;
}
.social{
  width: 100%;
  float: left;
  padding: 10px 0px 30px 0px;
  background: url(/images/bg-footer.jpg) repeat-x;
}
.social-opt{
  list-style: none;
  margin:0px auto;
  width: 144px;
  padding: 0px 30px;
  display: inline-block;
  background: #FFF;
}
.social-opt li a{
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin-left: 10px;
}
.social-opt li a{
  width: 32px;
  height: 32px;
  border:1px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #666;
}
.social-opt li a:hover{
  color: #d93438;
  border:1px solid #d93438;
}
.hot-deal{
  padding: 0px 0px 10px 0px;
  background-color: #FFF;
  border:1px solid #efefef;
  margin-bottom: 30px;
  min-height: 425px;
}
.mas-votadas{
  min-height: 425px;
  border:1px solid #efefef;
  background: #FFF;
}
.promo-votada{
  padding: 0px 30px 30px 30px;
}
.oferta{
  background:#FFF;
  border:1px solid #efefef;
  margin: 0px 0px 20px 0px;
  padding: 23px 15px;
  min-height: 240px;
}
.oferta img{
  margin-top: 20px;
  padding: 5px;
}
.image-box{
  text-align: center;
  margin-bottom:20px;
}
.image-box img{
  margin: 0 auto;
}
.title-big{
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.thumbs{
  font-size: 26px;
  line-height: 50px;
}
.cont-hot-deal{
  padding: 30px;
}
.cont-hot-deal .category{
  font-size: 16px;
}
.cont-hot-deal .name{
  font-size: 25px;
  color: #333;
  max-height: 100px;
  line-height: 35px;
  margin-top: 0px;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-bottom: 0px;
}
.oferta-individual .name{
  color: #333;
  height: 40px;
  line-height: 20px;
  margin-top: 0px;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-bottom: 5px;
  font-size: 15px;
}
.cont-hot-deal .name a, .carousel-inner h2.name a, .oferta-individual .name a{
  color: #333;
}
.carousel-inner h2.name{
  color: #333;
  max-height: 60px;
  line-height: 20px;
  margin-top: 0px;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-bottom: 13px;
}
.oferta-individual .category{
  margin-top: 15px;
}
.oferta-individual .category a{
  font-size: 12px;
}
.oferta-individual .price{
  font-size: 20px;
  font-weight: 400;
}
.oferta-individual .store{
  margin-top: 8px;
  font-size: 14px;
}
.oferta-individual .store a{
  color: #333;
}
.oferta-individual .comments{
  margin: 13px 10px 0px 0px;
  font-size: 14px;
  float: right;
}
.oferta-head{
  padding: 7px 0px;
}
.termo-gris{
  width: 100%;
  background:#efefef;
  height: 2px;
  float:left;
}
.oferta-head .usuario a{
  color: #666;
  font-weight: bold;
  font-size: 12px;
}
.oferta-head .fecha{
  color: #999;
  font-weight: 200;
  font-size: 10px;
  line-height: 10px;
}
.btn-oferta-individual{
  float: left;
  margin-top: 10px;
}
.category a{
  color: #999;
  font-weight: 200;
  font-size: 16px;
}
.content-box .price{
  font-size: 35px;
  font-weight: 400;
  margin-top: 10px;
}
.carousel-inner .price{
  font-size: 20px;
  float: left;
  margin-right: 20px;
}
.price, .fis-web{
  color: #d93438;
}
.fis-web{
  margin-left: 5px;
  font-weight: 200;
  font-size: 12px;
  text-transform: none;
}
.store, .carousel-inner .store{
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.store a{
  color: #333;
}
.comments a, .carousel-inner .comments a, .oferta-individual a{
  color: #666;
}
.carousel-inner .comments a{
  line-height: 45px;
}
.hot-deal-img{
  padding: 20px 25px;
}
.btn-rojo{
  font-size: 13px;
  padding: 7px 25px;
  color: #FFF !important;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: none;
  margin-top: 5px;
  background: #d93438; 
}
.btn-rojo-small{
  font-size: 12px;
  padding: 6px 12px;
  color: #FFF !important;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: #d93438; 
}
.btn-rojo:hover, .btn-rojo-small:hover {
  color: #FFF !important;
  background: #b31217;
}
.btn-rojo:active, .btn-rojo-small:active {
  color: #FFF !important;
  background: #d93438;
}
.carousel-control.right, .carousel-control.left{
  background: transparent;
}
.carousel-control{
  color: #333;
  width: 10%;
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.6)
}
.carousel-control:hover{
  color: #333;
}
.carousel-control:active{
  color: #333;
}
.carousel-control:focus{
  color: #333;
}
.no-padding-m{
  padding: 0px 10px;
}
.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active{
  text-align: left;
}
.thumbs-oferta{
  text-align: right;
  font-size: 22px;
}
.thumbs-oferta .up{
  padding-left:9px;
  border-left: 1px solid #eaeaea;
}
.thumbs-oferta .down{
  margin-left:10px;
  margin-right:5px;
}
.fa-thumbs-up{
  color: #d93438;
}
.fa-thumbs-up:hover{
  color: #b31217;
}
.icon-gray{
  color: #ccc;
}
.fa-thumbs-down{
  color: #999;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH /* Internet Explorer */;
}
.fa-thumbs-down:hover{
  color: #777;
}
.thumbs-oferta .down span i, .thumbs-oferta .up span i, 
.mas-votadas .up span i, .mas-votadas .down span i, 
.hot-deal .up span i, .hot-deal .down span i{
  color:#e3e2e2;
}
@media screen and (max-width: 767px) {
  .carousel-inner .thumbs{
    padding-left: 10px;
  }
  .container-m{
    padding: 0px 2px !important;
  }
  h1{
    font-size: 18px;
    font-weight: bold;
    text-align:center;
  }
  .grados-sign{
    margin-left: 0px;
    top: -5px; 
  }
  .hot-deal{
    margin-bottom:10px;
  }
  .hot-deal .grados-sign{
    margin-left: -4px;
    top: -4px;
    font-size: 14px;
  }
  .hot-deal .thumb-warm{
    font-size:20px;
  }
  .oferta{
    padding: 15px 10px;
    margin: 0px 0px 7px 0px !important;
  }
  .oferta-head{
    background: #FFF;
    float:left;
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
  }
  .oferta-individual .name{
    max-height: 35px;
    line-height: 18px;
    font-size: 13px;
  }
  .oferta-individual .price{
    font-size: 15px;
  }
  .oferta-individual .store{
    margin-top: 8px;
    font-size: 12px;
  }
  .oferta-individual .category a{
    font-size: 11px;
  }
  .fis-web{
    font-weight: 400;
    font-size: 11px;
    text-transform: none;
  }
  .cont-hot-deal .name{
    font-size: 18px;
    max-height: 80px;
    line-height: 25px;
  }
  .content-box .price{
    font-size: 25px;
    font-weight: 400;
    margin-top:0px;
  }
  .title-big{
    padding: 15px 0px 15px 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .thumbs{
    font-size: 22px;
  }
  .cont-hot-deal .category{
    font-size: 13px;
  }
  .no-padding-m{
    padding: 0px 0px 0px 0px;
  }
  .no-padding-head{
    padding: 0px 10px;
  }
  .dropdown-menu > li {
    display: block;
  }
  .footer .nav li a{
    background:#FFF;
    font-size: 12px;
    padding: 10px;
  }
  .menu-footer li{
    width: 100%;
  }
  .row{
    margin: 10px 0px;
  }
  .container{
  padding: 0px 5px;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer-imagen img{
    width: 260px;
  }
  .menu-footer{
    width: 35%;
  }
  .navbar-nav > li > a {
    line-height: 25px;
  }
  .logotipo img{
    width: 275px;
    margin-top: 0px;
  }
  .nav > li > a{
    color: #525457;
    font-weight: 400;
    font-size: 14px;
  }
  .navbar-form{
    margin: 0px;
    padding: 10px 0px 10px 15px;
  }
  .logotipo-s{
    display: none;
  }
  .logotipo{
    display: block;
  }
  .nav .ver-mobile, .ver-mobile{
    display: none;
  }
  .nav .ver-desktop, .ver-desktop{
    display: block;
  }
  .navbar-white{
    border-bottom: 2px solid #d1cfcf;
    height: 60px;
  }
}