<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Editar Categoría: <%= @category.description %></h1>
			<%= render 'form', category: @category %>
			<br>
			<%= link_to 'Regresar', categories_path %> &nbsp; | &nbsp; 
			<%= link_to 'Ver', @category %>		
		</div>
		<div class="col-md-2"></div>
</div>
