<div class="row deal-detail">
		<div class="col-md-2"></div>
		<div class="col-md-8 deal-det new-promo">
			<h1>Nueva Categoría</h1>
			<%= render 'form', category: @category %>
			<br>
			<%= link_to 'Back', categories_path %>		
		</div>
		<div class="col-md-2"></div>
</div>