<ul class="visible-xs submenu">
	<li></li>
	<li class="sub-titulo">FILTRAR PROMOCIONES</li>
	<form action="">
    <li>
    	<!--div class="check-filter">
			<input type="checkbox" name="vehicle" value="Bike"> Ocultar Promociones Vencidas
		</div-->
		<div class="radios-filter">
			<input type="radio" name="gender" value="male" checked> <i class="fa fa-laptop" aria-hidden="true"></i> Sólo Promociones Online
		</div>
	  	<div class="radios-filter">
	  		<input type="radio" name="gender" value="female"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> Sólo Promociones en Tienda Física
	  	</div>
	  	<div class="btn-filtros">
	  		<input class="btn-negro" type="submit" value="Aplicar Filtros">
	  	</div>
    </li>
	</form>
	<a class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu-filtros"><li class="cerrar-menu">Cerrar filtros<span class="icono-cerrar glyphicon glyphicon-chevron-up"></li></a>
</ul>