<div class="container">
  <ul class="nav nav-pills menu-footer">
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/contacto">Contáctanos</a></li>
    <li><a href="/ayuda">Ayuda</a></li>
    <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
  </ul>
  <div class="social">
    <ul class="social-opt">
      <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="footer-imagen"><a href="/"><img src="/images/logo-footer.jpg" alt="Descuentos y Promociones" title="Descuentos y Promociones" /></a></div>
  <span class="legal">&copy; 2017 <strong>DescuentosyPromociones.com</strong>. Todos los derechos reservados.</span>
</div>