<style type="text/css">
	
</style>
<form action="">
<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="/images/banner-filtros.jpg" />
	</div>
	<div class="col-md-6 form-filtros">
		<!--div class="check-filter">
			<input type="checkbox" name="vehicle" value="Bike"> Ocultar Promociones Vencidas
		</div-->
		<div class="radios-filter">
			<input type="radio" name="gender" value="male" checked> <i class="fa fa-laptop" aria-hidden="true"></i> Mostrar sólo Promociones Online
		</div>
	  	<div class="radios-filter">
	  		<input type="radio" name="gender" value="female"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> Mostrar sólo Promociones en Tienda Física
	  	</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<input class="btn-negro" type="submit" value="Aplicar Filtros">
	</div>
</div>
</form>