<style type="text/css">
	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + label {
	    color:#333;
	    cursor:pointer;
	}
	input[type="radio"] + label span {
	    display:inline-block;
	    width:19px;
	    height:19px;
	    margin: 2px 10px 0 0;
	    vertical-align:middle;
	    background-color: #fff;
	    border-radius: 100%;
	    border: 3px solid #666;
	}
	input[type="radio"]:checked + label span {
	    border: 3px solid #f00;
	    background-color: #f09;
	}
</style>
<form action="">
<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="/images/banner-filtros.jpg" />
	</div>
	<div class="col-md-6 form-filtros">
		<!--div class="check-filter">
			<input type="checkbox" name="vehicle" value="Bike"> Ocultar Promociones Vencidas
		</div-->
		<div class="radios-filter">
			<input type="radio" id="r1" name="rr" />
		    <label for="r1"><span></span>Radio Button 1</label>

			<!--input type="radio" name="gender" value="male" checked> <i class="fa fa-laptop" aria-hidden="true"></i> Ver sólo Promociones Online-->
		</div>
	  	<div class="radios-filter">
	  		<input type="radio" id="r2" name="rr" />
		    <label for="r2"><span></span>Radio Button 2</label>
	  		<!--input type="radio" name="gender" value="female"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> Ver sólo Promociones en Tienda Física-->
	  	</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<input class="btn-negro" type="submit" value="Aplicar Filtros">
	</div>
</div>
</form>