<form action="" id="filter-search">
<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" src="/images/banner-filtros.jpg" />
	</div>
	<div class="col-md-6 form-filtros">
		<div class="radios-filter">
			<input type="radio" name="filter-promo" value="all" checked> <i class="fa fa-check-square-o" aria-hidden="true"></i> Ver todas
		</div>
	  	<div class="radios-filter">
	  		<input type="radio" name="filter-promo" value="1"> <i class="fa fa-laptop" aria-hidden="true"></i> Ver sólo Promociones Online
	  	</div>
	  	<div class="radios-filter">
	  		<input type="radio" name="filter-promo" value="2"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> Ver sólo Promociones en Tienda Física
	  	</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<input class="btn-negro" type="submit" value="Aplicar Filtros">
	</div>
</div>
</form>