<div class="container drow no-padding">
  <div class="col-md-6 no-padding">
    <h2>Promociones por Categoría</h2>
    <div class="col-md-6 no-padding">
      <ul class="submenu-cat">
        <li><a href="/descuentos-por-categoria/1/abarrotes-y-alimentos">Abarrotes y Alimentos</a></li>
        <li><a href="/descuentos-por-categoria/2/autos">Autos</a></li>
        <li><a href="/descuentos-por-categoria/3/bebes-y-ninos">Bebés y Niños</a></li>
        <li><a href="/descuentos-por-categoria/4/celulares">Celulares</a></li>
        <li><a href="/descuentos-por-categoria/6/computadoras">Computadoras</a></li>
        <li><a href="/descuentos-por-categoria/5/restaurantes">Restaurantes</a></li>
        <li><a href="/descuentos-por-categoria/7/deportes-y-ejercicio">Deportes y Ejercicios</a></li>
        <li><a href="/descuentos-por-categoria/8/entretenimiento-y-tiempo-libre">Entretenimiento</a></li>
        <li><a href="/descuentos-por-categoria/9/hogar-y-jardin">Hogar y Jardín</a></li>
        <li><a href="/descuentos-por-categoria/11/ropa-y-accesorios">Ropa y Accesorios</a></li>
      </ul>
    </div>
    <div class="col-md-6 no-padding">
      <ul class="submenu-cat">
        <li><a href="/descuentos-por-categoria/12/salud-y-belleza">Salud y Belleza</a></li>
        <li><a href="/descuentos-por-categoria/13/servicios">Servicios</a></li>
        <li><a href="/descuentos-por-categoria/14/tecnologia">Tecnología</a></li>
        <li><a href="/descuentos-por-categoria/15/televisiones">Televisiones</a></li>
        <li><a href="/descuentos-por-categoria/17/viajes">Viajes</a></li>
        <li><a href="/descuentos-por-categoria/18/videojuegos">Videojuegos</a></li>
        <li><a href="/descuentos-por-categoria/16/varios">Varios</a></li>
        <li><a href="#">Ofertas Online</a></li>
        <li><a href="#">Ofertas en Tienda Física</a></li>
        <li><a href="/descuentos-por-categoria/10/ofertas-permanentes">Ofertas Permanentes</a></li>
      </ul>
    </div>
    <div class="col-md-12 no-padding ver-mas-link"><a href="/todas-las-categorias">Ver todas las Categorías <span class="glyphicon glyphicon-menu-right"></span></a></div>
  </div>          
  <div class="col-md-6 no-padding">
    <h2 style="margin-left: 14px;">Promociones por Tienda</h2>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-amazon.jpg" />
      <span>Amazon</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-bby.jpg" />
      <span>Best Buy</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-walmart.jpg" />
      <span>Walmart</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-liverpool.jpg" />
      <span>Liverpool</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-chedraui.jpg" />
      <span>Chedraui</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-lacomer.jpg" />
      <span>La Comer</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-elektra.jpg" />
      <span>Elektra</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-aliexpress.jpg" />
      <span>Ali Express</span>
    </a>
    </div>
    <div class="col-md-12 ver-mas-link" style="margin-left: 0px;">
      <a href="/todas-las-tiendas">Ver todas las Tiendas <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
</div>