<ul class="visible-xs submenu">
	<li></li>
	<li class="sub-titulo">MENÚ</li>
    <li><a href="/descuentos-por-categoria/1/abarrotes-y-alimentos">Abarrotes y Alimentos</a></li>
    <li><a href="/descuentos-por-categoria/2/autos">Autos</a></li>
    <li><a href="/descuentos-por-categoria/3/bebes-y-ninos">Bebés y Niños</a></li>
    <li><a href="/descuentos-por-categoria/4/celulares">Celulares</a></li>
    <li><a href="/descuentos-por-categoria/6/computadoras">Computadoras</a></li>
    <li><a href="/descuentos-por-categoria/5/restaurantes">Restaurantes</a></li>
    <li><a href="/descuentos-por-categoria/7/deportes-y-ejercicio">Deportes y Ejercicios</a></li>
    <li><a>Ver todas...</a></li> 
	<li></li>
	<li class="sub-titulo">BUSCA POR TIENDA</li>
	<li><a href="#">Amazon</a></li>
	<li><a href="#">Adidas</a></li>
	<li><a href="#">Linio</a></li>
	<li><a href="#">Best Buy</a></li>
	<li><a href="#">Walmart</a></li>
	<li><a href="#">Despegar.com</a></li>
	<li><a href="#">Interjet</a></li>
	<li><a href="#">Aeromexico</a></li>
	<li><a href="#">Sam's Club</a></li>
	<li><a href="#">Superama</a></li>
	<li><a href="#">Marti</a></li>
	<li><a href="#">Mercado Libre</a></li>
	<li><a href="#">Ver todas...</a></li>
	<a class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu-s"><li class="cerrar-menu">Cerrar menú <span class="icono-cerrar glyphicon glyphicon-chevron-up"></li></a>
</ul>