<div class="container drow">
  <div class="col-md-6 no-padding">
    <h2>Promociones por Categoría</h2>
    <div class="col-md-6 no-padding">
      <ul class="submenu-cat">
        <li><a href="/descuentos-por-categoria/9/hogar-y-jardin">Hogar y Jardín</a></li>
        <li><a href="/descuentos-por-categoria/15/pantallas">Pantallas</a></li>
        <li><a href="/descuentos-por-categoria/4/celulares">Celulares y Tablets</a></li>
        <li><a href="/descuentos-por-categoria/6/computadoras">Computadoras</a></li>
        <li><a href="/descuentos-por-categoria/29/audio">Audio</a></li>
        <li><a href="/descuentos-por-categoria/31/camaras-y-videocamaras">Cámaras y Videocámaras</a></li>
        <li><a href="/descuentos-por-categoria/14/tecnologia">Tecnología</a></li>
        <li><a href="/descuentos-por-categoria/18/videojuegos">Videojuegos</a></li>
        <li><a href="/descuentos-por-categoria/11/ropa-y-accesorios">Ropa y Accesorios</a></li>
        <li><a href="/descuentos-por-categoria/12/salud-y-belleza">Salud y Belleza</a></li>
      </ul>
    </div>
    <div class="col-md-6 no-padding">
      <ul class="submenu-cat">
        <li><a href="/descuentos-por-categoria/8/entretenimiento-y-tiempo-libre">Entretenimiento y Tiempo Libre</a></li>
        <li><a href="/descuentos-por-categoria/26/series-y-peliculas">Series y Películas</a></li>
        <li><a href="/descuentos-por-categoria/7/deportes-y-ejercicio">Deportes y Ejercicio</a></li>
        <li><a href="/descuentos-por-categoria/23/herramientas">Herramientas</a></li>
        <li><a href="/descuentos-por-categoria/13/servicios">Servicios</a></li>
        <li><a href="/descuentos-por-categoria/19/abarrotes-y-alimentos">Abarrotes y Alimentos</a></li>
        <li><a href="/descuentos-por-categoria/3/bebes-y-ninos">Bebés y Niños</a></li>
        <li><a href="/descuentos-por-categoria/20/juguetes-y-juegos">Juguetes y Juegos</a></li>
        <li><a href="/descuentos-por-categoria/30/mascotas">Mascotas</a></li>
        <li><a href="/descuentos-por-categoria/21/libros">Libros</a></li>
      </ul>
    </div>
    <div class="col-md-12 no-padding ver-mas-link"><a href="/todas-las-categorias">Ver todas las Categorías <span class="glyphicon glyphicon-menu-right"></span></a></div>
  </div>          
  <div class="col-md-6 no-padding">
    <h2 style="margin-left: 14px;">Promociones por Tienda</h2>
    <div class="col-md-3 sub-stores">

    <a href="/descuentos-por-tienda/36/amazon">
      <img alt="Amazon" title="Amazon" class="img-responsive" src="/images/store/logos/store-amazon.jpg" />
      <span>Amazon</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/39/best-buy">
      <img alt="Best Buy" title="Best Buy" class="img-responsive" src="/images/store/logos/store-bby.jpg" />
      <span>Best Buy</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/38/linio">
      <img alt="Linio" title="Linio" class="img-responsive" src="/images/store/logos/store-linio.jpg" />
      <span>Linio</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/40/walmart">
      <img alt="Walmart" title="Walmart" class="img-responsive" src="/images/store/logos/store-walmart.jpg" />
      <span>Walmart</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/67/liverpool">
      <img alt="Adidas" title="Liverpool" class="img-responsive" src="/images/store/logos/store-liverpool.jpg" />
      <span>Liverpool</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/68/palacio-de-hierro">
      <img alt="Despegar.com" title="Palacio de Hierro" class="img-responsive" src="/images/store/logos/store-palacio.jpg" />
      <span>Palacio de Hierro</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/81/sears">
      <img alt="Interjet" title="Sears" class="img-responsive" src="/images/store/logos/store-sears.jpg" />
      <span>Sears</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="/descuentos-por-tienda/46/mercadolibre">
      <img alt="Sam's Club" title="MercadoLibre" class="img-responsive" src="/images/store/logos/store-mercadolibre.jpg" />
      <span>MercadoLibre</span>
    </a>
    </div>
    <div class="col-md-12 ver-mas-link" style="margin-left: 0px;">
      <a href="/todas-las-tiendas">Ver todas las Tiendas <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
</div>