<ul class="visible-xs submenu">
	<li></li>
	<li class="sub-titulo">MENÚ</li>
    <li><a href="/descuentos-por-categoria/9/hogar-y-jardin">Hogar y Jardín</a></li>
    <li><a href="/descuentos-por-categoria/15/pantallas">Pantallas</a></li>
    <li><a href="/descuentos-por-categoria/4/celulares">Celulares y Tablets</a></li>
    <li><a href="/descuentos-por-categoria/6/computadoras">Computadoras</a></li>
    <li><a href="/descuentos-por-categoria/29/audio">Audio</a></li>
    <li><a href="/descuentos-por-categoria/31/camaras-y-videocamaras">Cámaras y Videocámaras</a></li>
    <li><a href="/descuentos-por-categoria/14/tecnologia">Tecnología</a></li>
    <li><a href="/descuentos-por-categoria/18/videojuegos">Videojuegos</a></li>
    <li><a href="/descuentos-por-categoria/11/ropa-y-accesorios">Ropa y Accesorios</a></li>
    <li><a href="/descuentos-por-categoria/12/salud-y-belleza">Salud y Belleza</a></li>
    <li><a>Ver todas...</a></li> 
	<li></li>
	<li class="sub-titulo">BUSCA POR TIENDA</li>
	  <li><a href="/descuentos-por-tienda/36/amazon">Amazon</a></li>
	  <li><a href="/descuentos-por-tienda/39/best-buy">Best Buy</a></li>
	  <li><a href="/descuentos-por-tienda/38/linio">Linio</a></li>
	  <li><a href="/descuentos-por-tienda/40/walmart">Walmart</a></li>
	  <li><a href="/descuentos-por-tienda/67/liverpool">Liverpool</a></li>
	  <li><a href="/descuentos-por-tienda/68/palacio-de-hierro">Palacio de Hierro</a></li>
	  <li><a href="/descuentos-por-tienda/81/sears">Sears</a></li>
	  <li><a href="/descuentos-por-tienda/46/mercadolibre">Mercado Libre</a></li>
	  <li><a href="/todas-las-tiendas">Ver todas...</a></li>
	<a class="collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu-s"><li class="cerrar-menu">Cerrar menú <span class="icono-cerrar glyphicon glyphicon-chevron-up"></li></a>
</ul>