<div class="container drow no-padding">
  <div class="col-md-6 no-padding">
    <h2>Promociones por Categoría</h2>
    <div class="col-md-6 no-padding">
      <ul class="submenu-cat">
        <li><a href="#">Abarrotes y Alimentos</a></li>
        <li><a href="#">Autos</a></li>
        <li><a href="#">Bebés y Niños</a></li>
        <li><a href="#">Celulares</a></li>
        <li><a href="#">Computadoras</a></li>
        <li><a href="#">Restaurantes</a></li>
        <li><a href="#">Deportes y Ejercicios</a></li>
        <li><a href="#">Entretenimiento</a></li>
        <li><a href="#">Hogar y Jardín</a></li>
        <li><a href="#">Ropa y Accesorios</a></li>
      </ul>
    </div>
    <div class="col-md-6 no-padding">
      <ul class="submenu-cat">
        <li><a href="#">Salud y Belleza</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Tecnología</a></li>
        <li><a href="#">Televisiones</a></li>
        <li><a href="#">Viajes</a></li>
        <li><a href="#">Videojuegos</a></li>
        <li><a href="#">Varios</a></li>
        <li><a href="#">Ofertas Online</a></li>
        <li><a href="#">Ofertas en Tienda Física</a></li>
        <li><a href="#">Ofertas Permanentes</a></li>
      </ul>
    </div>
    <div class="col-md-12 no-padding ver-mas-link"><a href="#">Ver todas las Categorías <span class="glyphicon glyphicon-menu-right"></span></a></div>
  </div>          
  <div class="col-md-6 no-padding">
    <h2 style="margin-left: 14px;">Promociones por Tienda</h2>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-amazon.jpg" />
      <span>Amazon</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-bby.jpg" />
      <span>Best Buy</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-walmart.jpg" />
      <span>Walmart</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-liverpool.jpg" />
      <span>Liverpool</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-chedraui.jpg" />
      <span>Chedraui</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-lacomer.jpg" />
      <span>La Comer</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-elektra.jpg" />
      <span>Elektra</span>
    </a>
    </div>
    <div class="col-md-3 sub-stores">
    <a href="#">
      <img class="img-responsive" src="/images/store-aliexpress.jpg" />
      <span>Ali Express</span>
    </a>
    </div>
    <div class="col-md-12 ver-mas-link" style="margin-left: 0px;">
      <a href="#">Ver todas las Tiendas <span class="glyphicon glyphicon-menu-right"></span></a>
    </div>
  </div>
</div>