<div class="col-md-6 no-padding">
  <h2 style="margin-left: 14px;">Promociones por Tienda</h2>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-amazon.jpg" />
    <span>Amazon</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-bby.jpg" />
    <span>Best Buy</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-walmart.jpg" />
    <span>Walmart</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-liverpool.jpg" />
    <span>Liverpool</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-chedraui.jpg" />
    <span>Amazon</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-lacomer.jpg" />
    <span>Best Buy</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-elektra.jpg" />
    <span>Walmart</span>
  </a>
  </div>
  <div class="col-md-3 sub-stores">
  <a href="#">
    <img class="img-responsive" src="/images/store-aliexpress.jpg" />
    <span>Liverpool</span>
  </a>
  </div>
  <div class="col-md-12 ver-mas-link" style="margin-left: 0px;"><a href="#">Ver todas las Tiendas <span class="glyphicon glyphicon-menu-right"></span></a></div>
</div>