<div style="padding: 40px;background: #FFF;border:1px solid #efefef;margin: 20px auto 20px auto;">
    <h4 style="font-size: 24px;font-weight: bold;color: #d93438;">CAMBIO DE CORREO ELECTRÓNICO</h4>
	<p><strong>Hola <%= @email %>!</strong></p>
	<% if @resource.try(:unconfirmed_email?) %>
  	<p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
	<% else %>
	  <p>Te escribimos para informarte que tu dirección de correo electrónico ha cambiado a: <%= @resource.email %>.</p>
	<% end %>
</div>