<div style="padding: 40px;background: #FFF;border:1px solid #efefef;margin: 20px auto 20px auto;">
    <h4 style="font-size: 24px;font-weight: bold;color: #d93438;">CAMBIO DE CONTRASEÑA</h4>
	<p><strong>Hola <%= @resource.email %>!</strong></p>
	<p>Te escribimos para informarte que tu dirección de contraseña ha cambiado.</p>
</div>

