<div style="background: #043152;padding: 10px 0px 10px 40px;">
	<a href="http://descuentosypromociones.com/" target="_blank"><img src="/images/logo-mail.png" width="250" alt="Descuentos y Promociones" title="Descuentos y Promociones"></a>
</div>
<div style="padding: 20px 40px 40px 40px;background: #FFF;border:1px solid #efefef;margin: 0 auto;">
    <h4 style="font-size: 24px;font-weight: bold;color: #d93438;">RECUPERAR CONTRASEÑA</h4>
	<p><strong>Hola <%= @resource.email %>!</strong></p>
	<p>Haz solicitado el cambio de tu contraseña, por favor ingresa al siguiente link para poder hacerlo:</p>
	<p><strong><%= link_to 'Cambiar mi Contraseña', edit_password_url(@resource, reset_password_token: @token), class:"btn-rojo" %></strong></p>
	<p>Si tu no solicitaste el cambio de contraseña, por favor ignora este mail.</p>
</div>
